**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/download_stats/
/config/
/data/
/app/config/
/app/data/
.env
.env.*
*.p8
*.json
!package.json
!package-lock.json
!**/package.json
!**/package-lock.json
!app/frontend/src/**/*.json
.git
.idea
.vscode
.DS_Store
Thumbs.db
attic/
